*{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid black;
	padding: 5px;
	width: 100%;
}

#logoText {
	color: mediumaquamarine;
	padding-left: 5px;
}

#logoContainer {
	display: flex;
	align-items: center;
}

#navContainer {
	display: flex;
	align-items: center;
}

nav span {
	padding: 20px 10px;
}

nav a {
	color: black;
}

.main {
	display: flex;
	justify-content: space-around;
}

.main.column1 {
	display: flex;
	width: 630px;
}

.main.column2 {
	display: flex;
	width: 300px;
}

.main.column3 {
	display: flex;
	width: 240px;
}

.border {
	border: 1px solid black;
}